@media (min-width: 1024px){
    .menu-button {
    display: none;
    }
}

@media  (min-width: 740px) and (max-width: 1023px){
    #header{
        height: 60px;
    }

    #nav > li > a,
    .search-button{
     line-height: 60px;
     font-size: 20px;
    }

    .menu-button {
    display: none;
    }

    .nav-arrow-down {
    font-size: 18px;
    }

    .subnav {
        width: 175px;
    }

    .subnav li{
        line-height:44px;
    }

    .subnav li a {
        font-size:18px;
    }

    #slider {
    margin-top: 60px;
    }

    #content .member-item{
        width: 33.333333%
    }

    .icon{
        font-size: 32px;
        margin: 0 5px;
    }
}

@media (max-width: 739px) {
    #header{
        height: 46px;
        overflow: hidden;
    }

    #nav,
    #nav li{
        display: block;
    }

    #nav li:first-child,
    #nav li:last-child{
        display: inline-block;
    }

    .menu-button i{
    top:0;
    right: 0;
    line-height: 46px;
    color: white;
    width: 60px;
    text-align: center;
    position:absolute;
    }

    .menu-button:hover i{
     background-color: #ccc;
     color: black;
    }

    .search-button{
    display: none;
    }
    #content #about-content{
        margin:16px;
    }

    #content .member-item{
        float: none;
        margin: 30px auto;
    }

    #content .member-item{
    width: 70%;
    }

    #tour-place{
        display: table;
    }

    #tour-place .buy-ticket{
        overflow: auto;
        width: 100%;
        padding: 0 70px;
    }

    #tour-place .buy-ticket-button{
        width: 100%;
        text-align: center;
        height: 48px;
        padding: 0;
        line-height: 48px;
    }

    #content #contact-box{
        float: none;
        margin-top: 16px;
    }

     #contact-container{
        padding-top: 32px;
     }

    #contact-box #name-box,
    #contact-box #email-box,
    #contact-box #message-box,
    #contact-box #send{
        width: 100%;
        margin: 8px 0;
    }

    #content #contact-section{
       display: block;
    }
    #contact-section div{
        text-align: center;
    }

    #contact-box #send{
        width: 100%;
        margin: 0;
        height:42px;
    }

    .icon{
        font-size: 32px;
        margin: 0 5px;
    }
}